@{
    ViewData["Title"] = "lab08";
}
@model IEnumerable<N3DMMarket.Models.Db.User>
    <div>
        <table>
            <tr>
                <th>Id</th>
                <th>Full Name</th>
                <th>Email</th>
            </tr>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.UserId</td>
                    <td>@user.FullName</td>
                    <td>@user.Email</td>
                </tr>
            }
        </table>
    </div>